@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    
}

.main-container{
    display: flex;
    width:650px ;
    height: 320px;
    margin-left: 40px;
    margin-top: 15px;
}
.leftbox1 img{
    width: 250px;
    height: 300px;
}
.leftbox1{
    border-radius: 8px;

    
}
.rightbox1{
    width: 350px;
    margin-left: 20px;
}
.rightbox1 .price{
    width: 250px;
    gap: 4px;

}
.rightbox1 h4{
    height: 40px;
    background-color: rgb(226, 227, 228);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.rightbox1 .price span{
    margin-left: 10px;
    margin-bottom: 10px;
}
.rightbox1 .price .oldprice{
    text-decoration: line-through;
}
.discount1{
    margin-left: 10px;
    width: 120px;
    border-radius: 8px;
    background-color: rgb(34, 219, 34);
    color: whitesmoke;
    margin-top: 20px;
}
.description1{
    margin-top: 10px;
    background-color: rgb(224, 253, 255);
}
.additem{
    background-color: rgb(252, 47, 47);
    color: whitesmoke;
    border-radius: 10px;
    border: none;
}
@media  only screen  and (max-width:380px){
html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
    .main-container{
        width: 100%;
        height: 100%;
        margin-left: 5px;
        
    }
    .leftbox1 img{
        height: 120px;
        width: 100px;
        margin-top: 6px
    }
    .leftbox1{
        width:120px ;
    }
    .rightbox1{
      margin-left: 0px;
      width: 140px;
    }
    .description1{
        font-size: 5px;
        margin-top: 2px;
        margin-bottom: 0px;
    }
    .rightbox1 h4{
        font-size: 9px;
        height: 12px;
        margin-bottom:0px ;
    }
    .discount1{
        width: 80px;
        font-size: 6px;
        padding: 2px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .rightbox1 .price{
        width: 100px;
        font-size: 7px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .additem{
        width: 50px;
        font-size: 6px;
        height: 10px;
        margin-top: 0px;
    }
    .rightbox1 .price span{
        margin-bottom: 0px;
    }
}
 
@media  only screen and (max-width:427px) {
    .main-container{
        width: 425px;
        height: 200px;
        margin-left: 0px;
        border: 2px solid red;
        
    }
    .leftbox1 img{
        height: 120px;
        width: 100px;
        margin-top: 6px;
        border: 2px solid green;
    }
    .leftbox1{
        width:120px ;
    }
    .rightbox1{
      margin-left: 40px;
      width: 180px;
      border: 2px solid black;
    }
    .description1{
        font-size: 5px;
        margin-top: 2px;
        margin-bottom: 0px;
    }
    .rightbox1 h4{
        font-size: 9px;
        height: 12px;
        margin-bottom:0px ;
    }
    .discount1{
        width: 80px;
        font-size: 6px;
        padding: 2px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .rightbox1 .price{
        width: 100px;
        font-size: 7px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    
    .additem{
        width: 50px;
        font-size: 6px;
        height: 10px;
        margin-top: 0px;
    }
    .rightbox1 .price span{
        margin-bottom: 0px;
    }
}